<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>favorite page</title>
</head>
<body>
    <header>
        <h1>
            My favorite Jokes 
        </h1>
    </header>
    <main>
<div class="allContainer">
<%data.forEach(val=>{%>
<div class="container">

<h2><%=val.type%></h2>
<h3><%=val.setup%></h3>
<h4><%=val.punchline%></h4>

<a href="/details/<%=val.id%>"><button >view details</button></a>

</div>

<%})%>
</div>

    </main>
   
</body>
</html>